<div class="p-grid">
    <div class="p-col-12">
      <p-table
        [value]="lancamentos.content"
        [lazy]="true"
        (onLazyLoad)="carregar($event)"
        [paginator]="true"
        [rows]="lancamentos.size"
        [totalRecords]="lancamentos.totalElements"
        [responsive] = true
        [showCurrentPageReport]="true"       >
          <ng-template pTemplate="header">
            <tr>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Data Vencimento</th>
                <th>Data Pagamento</th>
                <th>Valor</th>
                <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lancamento>
            <tr>
                <td>{{lancamento.tipo}}</td>
                <td>{{lancamento.descricao}}</td>
                <td style="width: 120px;text-align: center">{{lancamento.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                <td style="width: 120px;text-align: center">{{lancamento.dataPagamento | date: 'dd/MM/yyyy'}}</td>
                <td style="width: 120px;text-align: right">
                  <span [ngStyle]="{color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">{{lancamento.valor | currency: 'BRL'}}</span>
                </td>
                <td>
                   <a style="margin-right: 5px" pTooltip="Editar" tooltipPosition="top" pButton icon="fa fa-pencil"></a>
                   <button pButton pTooltip="Remover" tooltipPosition="top" icon="fa fa-trash"></button>
                </td>
            </tr>
          </ng-template>

        </p-table>
     </div>
   </div>
