<div class="container">
  <div class="p-grid">

    <div class="p-col-12">
      <h1>Pessoas</h1>
    </div>

    <div class="p-col-12">
      <label for="inputDescricao">Nome</label>
      <input id="inputDescricao" pInputText type="text" style="width: 95%">
    </div>

    <br>

    <div class="p-col-12">
      <button pButton type="submit" label="Pesquisar"> </button>
    </div>

  </div>

  <br><br>
    <div class="p-col-12">
      <app-pessoas-grid (pesquisarPaginacao)="pesquisarPaginacao($event)" [pessoas]="pessoas"> </app-pessoas-grid>
    </div>
</div>
