<div class="container">
  <div class="p-grid">

  <form autocomplete="off" (ngSubmit) = "pesquisar()">

    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="p-col-12">
      <label for="inputDescricao">Descrição</label>
      <input id="inputDescricao" name="descricao"
        [(ngModel)]="descricao" pInputText type="text" style="width: 95%">
    </div>

    <br>

    <div class="p-col-12">
      <label style="display: block" for="inputVencimento">Vencimento</label>
      <p-calendar name="vencimentoInicio" [(ngModel)] = "dataVencimentoInicio" dateFormat='dd/mm/yy' [inputStyle] = "{ width: '95px' }"><</p-calendar>


      <label for="inputAte">Até</label>
      <p-calendar name="vencimentoFim" [(ngModel)] = "dataVencimentoFim" dateFormat='dd/mm/yy' [inputStyle] = "{ width: '95px' }"><</p-calendar>
    </div>

    <br>

    <div class="p-col-12">
      <button pButton type="submit" label="Pesquisar"> </button>
    </div>

  </form>

  </div>

  <div class="p-col-12">
      <app-lancamento-grid [lancamentos]="lancamentos"></app-lancamento-grid>
  </div>

  <div class="p-col-12">
      <button pButton label="Novo Lançamento"> </button>
  </div>

</div>
