
<div class="container">
  <form action="">
      <div class="p-grid">
          <div class="p-col-12">
            <h1>Cadastro Piloto</h1>
          </div>

          <div class="p-lg-12 p-md-12 p-fluid">
              <label for="inputNome">Nome</label>
              <input id="inputNome" pInputText type="text">
          </div>

          <div class="p-lg-9 p-md-9 p-fluid">
              <label for="inputLogradouro">Logradouro</label>
              <input id="inputLogradouro" pInputText type="text">
          </div>

          <div class="p-lg-3 p-md-3 p-fluid">
              <label for="inputNumero">Numero</label>
              <input id="inputNumero" pInputText type="text">
          </div>

          <div class="p-lg-4 p-md-4 p-fluid">
              <label for="inputComplemento">Complemento</label>
              <input id="inputComplemento" pInputText type="text">
          </div>

          <div class="p-lg-4 p-md-4 p-fluid">
              <label for="inputBairro">Bairro</label>
              <input id="inputBairro" pInputText type="text">
          </div>

          <div class="p-lg-4 p-md-4 p-fluid">
              <label for="inputCep">CEP</label>
              <p-inputMask id="inputCep" mask="99.999-999"> </p-inputMask>
          </div>

          <div class="p-lg-6 p-md-6 p-fluid">
              <label for="inputCidade">Cidade</label>
              <input id="inputCidade" pInputText type="text">
          </div>

          <div class="p-lg-6 p-md-6 p-fluid">
              <label for="inputEstado">Estado</label>
              <p-dropdown [options]='estados' [filter]="true" placeholder='Selecione'></p-dropdown>
          </div>

          <div class="p-lg-12 p-md-12">
              <button style="margin-right:5px" pButton type="submit" label="Salvar"></button>
              <button pButton type="submit" label="Novo" class="ui.button-inf"></button>
              <a href = "javascript:;"> Voltar para a pesquisa </a>
          </div>
      </div>
  </form>
</div>
